@media (min-width: 768px) {
  header.masthead {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.navbar-text {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: var(--bs-navbar-color);
  margin-left: 1em;
  margin-right: 1em;
}

.header-column {
  width: 100%;
  margin: 0px;
}

.mb-5 {
  margin-bottom: .25em !important;
}

.check-icons {
  margin-right: .5em;
}

.navbar-span {
  margin-right: 1em;
  margin-left: 1em;
  justify-content: space-around;
}

.card-title{
  font-family: Oswald, sans-serif;
  text-align: center;
  margin-top: .5em;
  margin-bottom: .75em;
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  min-height: 7em;
  box-shadow: 5px 5px 15px var(--bs-gray-500);
  border-style: none;
}

.card-list-text {
  border-bottom: 1px solid lightgray;
  line-height: 2em;
  font-size: medium;
  text-align: justify;
}
@media (min-width: 576px) {
  .card-list-text {
    font-size: large;
  }
}

@media (min-width: 768px) {
  .card-list-text {
    font-size: large;
  }
}

@media (min-width: 992px) {
  .card-list-text {
    font-size: large;
  }
}


.text-block {
  width: 75%;
}

.mb-0 {
  margin-bottom: 0;
}

.faq-element {
  margin-left: 4em;
}

.faq-icon {
  margin-right: 2em;
}

.faq-icon {
  margin-right: 1em;
  font-size: 15px;
}

.faq-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.faq-header h5 {
  margin: 0px;
}

.faq-container {
  border-bottom: 1px solid lightgray;
  margin-bottom: .5em;
}

.faq-paragraph {
  margin-bottom: .5em;
  margin-top: .5em;
}

.form-segment {
  display: flex;
  flex-direction: row;
  color: black;
  align-items: center;
  margin-bottom: 1em;
}

.form-label {
  margin-bottom: 0;
  margin-right: 1em;
  width: 20%;
  text-align: left;
  color: rgb(120, 120, 120);
  font-size: small;
}
@media (min-width: 576px) {
  .form-label {
    font-size: medium!important;
  }
}
@media (min-width: 992px) {
  .form-label {
    font-size: large!important;
  }
}

.form-input-container {
  margin-left: 5em;
  width: 75%;
}

.form-text{
  font-size: small!important;
  color: rgb(120, 120, 120);
}
@media (min-width: 576px) {
  .form-text {
    font-size: medium!important;
  }
}
@media (min-width: 992px) {
  .form-text {
    font-size: large!important;
  }
}

.footer-link {
  color: #646464;
  text-decoration: none;
}

.footer-link:hover {
  color: black;
  text-decoration: underline;
}

header.masthead h1, header.masthead .h1 {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  header.masthead h1, header.masthead .h1 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  header.masthead h1, header.masthead .h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  header.masthead h1, header.masthead .h1 {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 35px;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 50px;
  }
}

.showcase{
  padding: 0;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

@media (min-width: 992px) {
  .showcase .showcase-text {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (min-width: 1200px) {
  .showcase .showcase-text {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.why-title {
  text-align: center;
  font-family: Oswald, sans-serif;
  margin-bottom: 2em;
  margin-top: 3rem;
}

@media (min-width: 992px) {
  .why-title {
    text-align: center;
    font-family: Oswald, sans-serif;
    margin-bottom: 2em;
    margin-top: 6rem;
  }
}

.comparison-container {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  margin-bottom: 1em;
}

@media (min-width: 992px) {
  .comparison-container {
    display: flex;
    flex-direction: row;
    padding-left: 10em;
    padding-right: 10em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
  }
}

@media (min-width: 1200px) {
  .comparison-container {
    display: flex;
    flex-direction: row;
    padding-left: 10em;
    padding-right: 10em;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
  }
}

.comparison-card {
  width: 80%;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .comparison-card {
    width: 50%;
    margin-bottom: 1em;
  }
}

@media (min-width: 992px) {
  .comparison-card {
    width: 45%;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .comparison-card {
    width: 35%;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 1em;
  }
}

.process-container {
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
} 

@media (min-width: 576px) {
  .process-container {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media (min-width: 992px) {
  .process-container {
    padding: 7rem;
    padding-left: 12em;
    padding-right: 12em;
  }
}

@media (min-width: 1200px) {
  .process-container {
    padding: 7rem;
    padding-left: 17em;
    padding-right: 17em;
  }
}

.indented-paragraph {
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  margin-bottom: 1em !important;
}

@media (min-width: 768px) {
  .indented-paragraph {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    margin-bottom: 1em !important;
    padding-left: 4em;
    padding-right: 4em;
  }
}

@media (min-width: 1200px) {
  .indented-paragraph {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    margin-bottom: 1em !important;
    padding-left: 5em;
    padding-right: 5em;
  }
}

.testimonials {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.step-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 3em;
}

.step-card {
  margin-bottom: 1em;
}

.faq-main-container {
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 992px) {
  .faq-main-container {
    padding-left: 10em;
    padding-right: 10em;
  }
}

.form-input-element {
  width: 70%;
  font-family: 'Roboto Condensed', sans-serif;
}

@media (min-width: 768px) {
  .form-input-element {
    width: 50%;
    font-family: 'Roboto Condensed', sans-serif;
  }
}

@media (min-width: 1400px) {
  .form-input-element {
    width: 30%;
    font-family: 'Roboto Condensed', sans-serif;
  }
}

.nav-bar-container {
  align-items: center;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
  color: inherit;
  border-radius: 10px;
  background-color: rgba(26, 0, 101, 0.15);
}

.masthead-colored-text {
  font-family: Oswald, sans-serif;
  display: inline-block;
  color: var(--bs-primary);
  background: linear-gradient(to bottom, rgba(26, 0, 101, .55), #ffffff, rgba(26, 0, 101, .55));
  line-height: 1;
  padding: 8px 0;
}

.header-subtitle {
  /* background: linear-gradient(to bottom, rgba(26, 0, 101, .55), #ffffff, rgba(26, 0, 101, .55)); */
  font-size: small;
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(0, 0, 0);
  width: 20rem;
  margin-top: 1em; 
  margin-bottom: 2em;
}

@media (min-width: 576px) {
  .header-subtitle {
    font-size: medium;
    width: 28rem;
  }
}

@media (min-width: 768px) {
  .header-subtitle {
    font-size: large;
    width: 35rem;
  }
}

@media (min-width: 992px) {
  .header-subtitle {
    font-size: larger;
    width: 45rem;
  }
}

td {
  font-size: x-small;
}

@media (min-width: 576px) {
  td {
    font-size: small;
  }
}

@media (min-width: 992px) {
  td {
    font-size: large;
  }
}

.masthead {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .masthead {
    margin-top: 101px;
  }
}

.sample-analysis-title {
  font-size: medium;
}

@media (min-width: 768px) {
  .sample-analysis-title {
    font-size: large;
  }
}

.sample-analysis-text {
  font-size: smaller;
}

@media (min-width: 768px) {
  .sample-analysis-text {
    font-size: medium;
  }
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
  .call-to-action {
    padding-left: 4em;
    padding-right: 4em;
  }
}

@media (min-width: 768px) {
  .call-to-action {
    padding-left: 10em;
    padding-right: 10em;
  }
}

@media (min-width: 992px) {
  .call-to-action {
    padding-left: 15em;
    padding-right: 15em;
  }
}

@media (min-width: 1200px) {
  .call-to-action {
    padding-left: 20em;
    padding-right: 20em;
  }
}

.sample-analysis-card {
  width: 90%;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .sample-analysis-card {
    width: 60%;
  }
}

.sample-indented-text {
  margin-left: 1em;
}

.sample-indented-text h6 {
  margin-bottom: 0;
}

.sample-analysis-modal h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  margin-bottom: .5em;
}

.sample-analysis-modal h2, h3 {
  font-size: x-large;
}

.sample-analysis-modal h4 {
  font-size: large;
}

.sample-analysis-modal h6 {
  font-size: medium;
}

.sample-analysis-modal p, li {
  font-family: 'Roboto Condensed', sans-serif;
}

.sample-analysis-image {
  width: 100%;
  align-self: center;
}

@media (min-width: 576px) {
  .sample-analysis-image {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .sample-analysis-image {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .sample-analysis-image {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .sample-analysis-image {
    width: 60%;
  }
}

.sample-analysis-margin {
  margin-bottom: 1.5em;
}

.styled-button {
  background: var(--bs-primary);
  font-family: Oswald, sans-serif;
  margin-bottom: .25em;
  width: 7em;
  font-size: large;
}

@media (min-width: 576px) {
  .styled-button {
    font-size: x-large;
  }
}

.call-to-action-text{
  color: var(--bs-gray-700);
  font-style: italic;
  font-size: x-small;
}

@media (min-width: 576px) {
  .call-to-action-text {
    font-size: small;
  }
}

@media (min-width: 992px) {
  .call-to-action-text {
    font-size: medium;
  }
}

/* For our services section */
.services-opposite-sides{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.left-side-service-text{
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(0, 0, 0);
  text-align: left;
  font-weight: bold;
}
.right-side-service-text{
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(0, 0, 0);
  text-align: right;
  font-weight: bold;
}
/*Section subtitles*/
.subtitle{
  font-size: medium;
  color: rgb(0,0,0);
}
@media (min-width: 576px) {
  .subtitle {
    font-size: large;
  }
}
@media (min-width: 768px) {
  .subtitle {
    font-size: larger;
  }
}
@media (min-width: 992px) {
  .subtitle {
    font-size: x-large;
  }
}

/*All text directly on the page rather than in a container*/
.main-text{
  font-size: small;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(120, 120, 120);
  text-align: left;
}
@media (min-width: 576px) {
  .main-text {
    font-size: medium;
  }
}
@media (min-width: 992px) {
  .main-text {
    font-size: large;
  }
}

/*Container that the table is in*/
.services-table-container{
  display: flex;
  justify-content: center;
}
/*Table with service details in it at the bottom*/
.services-table{
  font-family: 'Roboto Condensed', sans-serif;
  table-layout: fixed;
  box-shadow: 5px 5px 15px var(--bs-gray-500);
  padding: 0;
}
@media (min-width: 576px) {
  .services-table p,li {
    font-size: small;
  }
}
@media (min-width: 768px) {
  .services-table p,li{
    font-size: small;
  }
}
@media (min-width: 992px) {
  .services-table p,li{
    font-size: medium;
  }
}
@media (min-width: 992px) {
  .services-table {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .services-table p,li {
    font-size: large;
  }
}

.services-table-header-cell{
  font-family: 'Oswald', sans-serif;
  font-size: medium;
  background-color: #1a0065 !important;
  color: white !important;
  text-align: center;
}
@media (min-width: 768px) {
  .services-table-header-cell {
    font-size: x-large;
  }
}

.services-table-grey-cell{
  background-color: #e7e7e7 !important;
}
.services-table-grey-text{
  color: rgb(0, 0, 0)!important;
}
.dropdown-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdown-icon{
  margin-left: .5em;
  margin-bottom: 5px;
  font-size: large;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: 50% 50%; 
}

.dropdown-icon.rotate {
  transform: rotate(180deg);
}

.collapsible-section {
  max-height: 0;
  overflow: hidden;        /* Hide content that spills beyond max-height */
  transition: max-height 0.3s ease-out; 
  /* 
    If you prefer a different type of animation, change the duration or 
    use 'ease-in', 'linear', etc.
  */
}

.collapsible-section.show {
  /* 
    Large max-height to accommodate the content. 
    Just ensure it's bigger than the content's actual height. 
  */
  max-height: 100em;
}

#toggle-our-process:hover{
  color: #343a40;
}

.small-subtitle{
  font-size: medium;
}
@media (min-width: 576px) {
  .small-subtitle {
    font-size: larger;
  }
}
@media (min-width: 992px) {
  .small-subtitle {
    font-size: x-large;
  }
}

.services-list{
  list-style: none;
  list-style-position: outside;
  padding-left: 0;
  padding-right: 0;
}

.services-list li{
  position: relative;
  padding-left: 1.5em;
}

.services-list li:before {
  content:"\2714\0020";
  position: absolute;
  left: 0;
  top: 0;
  color: var(--bs-primary);
}

@media (min-width: 576px) {
  .services-list li:before  {
    left: 0;
  }
}

/*For price section of services table*/
.price-cell{
  margin: 0;
}
.price-cell p{
  margin: 0;
}

.price-cell i{
  font-size: small;
}
@media (min-width: 576px) {
  .price-cell i {
    font-size: medium;
  }
}
@media (min-width: 768px) {
  .price-cell i {
    font-size: large;
  }
}

.price-text{
  font-family: 'Oswald', sans-serif;
  font-size: medium;
  font-weight: 550;
}
@media (min-width: 576px) {
  .price-text {
    font-size: large;
  }
}
@media (min-width: 768px) {
  .price-text {
    font-size: x-large;
  }
}

/*For cells in services table */
.services-cell-indented{
  padding-left: 1.5em!important;
}